<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test iOS Ingima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76656DA41E79C64E001AF558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76656DBB1E79C64E001AF558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76656DC61E79C64E001AF558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
